<suite name="supply-brain-automated-test">
    <listeners>
        <listener class-name="base.BaseTests" />
    </listeners>
    <test name="supply-brain-automated-test">
        <classes>
            <class name="login.LoginTests" >
                <methods>
                    <include name="loginWithCorrectEmailAndPasswordShouldAuthenticate"/>
                    <include name="loginWithCorrectEmailButIncorrectPasswordShouldGiveAnErrorMessage"/>
                    <include name="loginWithIncorrectEmailButCorrectPasswordShouldGiveAnErrorMessage"/>
                    <include name="loginWithoutEmailButWithPasswordShouldStayOnTheLoginPageAndShowHTML5ValidationMessage"/>
                    <include name="loginWithEmailButNoPasswordShouldStayOnTheLoginPageAndShowHTML5ValidationMessage"/>
                    <include name="loginWithEmailWithoutAtSignShouldStayOnTheLoginPageAndShowHTML5ValidationMessage"/>
                    <include name="loginWithEmailWithoutAPartBeforeTheAtSignShouldStayOnTheLoginPageAndShowHTML5ValidationMessage"/>
                    <include name="loginWithEmailWithoutAPartAfterTheAtSignShouldStayOnTheLoginPageAndShowHTML5ValidationMessage"/>
                    <include name="loginWithCorrectEmailAndCorrectPasswordAndCheckRememberMeShouldRememberUserAfterBrowserQuit"/>
                    <include name="loginWithCorrectEmailAndCorrectPasswordAndWithoutCheckRememberMeShouldNotRememberUserAfterBrowserQuit"/>
                    <include name="clickResetPasswordLinkShouldOpenPasswordResetPage"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>