<suite name="supply-brain-automated-test">
    <listeners>
        <listener class-name="base.BaseTests" />
    </listeners>
    <test name="supply-brain-automated-test">
        <classes>
            <class name="login.LoginTests" >
                <methods>
                    <include name="loginWithCorrectEmailAndPasswordShouldAuthenticate"/>
                    <include name="loginWithCorrectEmailButIncorrectPasswordShouldGiveAnErrorMessage"/>
                    <include name="loginWithIncorrectEmailButCorrectPasswordShouldGiveAnErrorMessage"/>
                    <include name="hasEmailValidation"/>
                    <include name="hasPasswordValidation"/>
                    <include name="loginWithCorrectEmailAndCorrectPasswordAndCheckRememberMeShouldRememberUserAfterBrowserQuit"/>
                    <include name="loginWithCorrectEmailAndCorrectPasswordAndWithoutCheckRememberMeShouldNotRememberUserAfterBrowserQuit"/>
                    <include name="clickResetPasswordLinkShouldOpenPasswordResetPage"/>
                </methods>
            </class>
        </classes>

    </test>
</suite>